.search-table {
    .container{
        background-color: #fff;
        padding: 30px 30px 60px 30px;
        border-radius: 10px;
        color: $text-color;
        
        h1 {
            color: $primary;
            font-weight: bolder;
        }
    }
}