.input-section {
    .load-div {
        position: absolute;
        img {
            width: 30px;
            position: relative;
            bottom: 35px;
            left: 125px;
        }
    }
}