.search-table {

    .fg-toolbar {
        background-color: $primary;
        label, span, div {
            color: #fff;
        }

        input, select {
            background-color: #fff !important;
        }

        select {
            width: 50px;
        }
    }

    .table-row {
        &:hover {
            background-color: #e9e9e9;
        }
    }

    .td-actions {
        display:flex;
        flex-grow:1;
        /* centering the button */
        align-items:center;
        justify-content:center;
    }

    td {
        i {
            float: right;
        }
    }
}